* {
    font-family: 'Dancing Script', cursive;
    box-sizing:border-box;
}

html {
    box-sizing: border-box;
    margin: 0rem;
}

body {
    margin: 0rem;
}

nav {
    width: 100%;
    background: linear-gradient(to right, rgba(197, 130, 212, 0.3), rgb(124, 48, 117));
    opacity: 10pt;
}

p,
ul li {
    font-family: 'Libre Baskerville', serif;
    margin-right: 1rem;
}

h1 {
    display: inline-block;
    justify-content: center;
    margin: 3rem;
}

div {
    display: inline-block;   
}

section ul li {
    list-style: none;
}

section ul li a {
    font-family: 'Libre Baskerville', serif;
}

.intro {
    margin-top: 2rem;
}

.btnNav {
    background-color: #b64ec4;
    font-size: 1.5rem;
}

.btnNav:hover {
    background-color: #e4c9e7;
    font-size: 2rem;
}

.btnNav:active {
    background-color: #441449;
    font-size: 2rem;
}

.btnNav a {
    color: #f4edf5
}

.row {
    margin: 0rem;
}

.navbar-collapse {
    justify-content: flex-end;
}

.projects {
    max-width: 1000pt;
    position: relative;
    margin: auto;    
}

.mySlides {
    display: flex;
    overflow: hidden;
    box-shadow: 1pt;
    margin-left: 0.5rem;
    margin-right: 0.1rem;
}

.mySlides img {
    width: 40rem;
    height: 21rem;
}

.links {
    margin-right: -8rem;
}

.text-block {
    position: absolute;
    background-color: #f0bcf7;
    color: #000000;
    font-size: 2rem;
    margin-left: -5rem;
    margin-top: -3rem;
    padding-left: 6rem;
  }