/* Universal Selectors */
* {
    color: #DCCDE8;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Element Selectors */
body {
    background-color: #00100B;
}

p {
    text-align: left;
    word-wrap: normal;
    
}

section {
    background-position: left;
}

header nav {
   padding-top: 100px;
   margin-right: 20px;
   float: right;
}

header nav ul {
   list-style-type: none;
}

header nav ul li {
   display: inline-block;
   margin-left: 25px;
} 


/* CLass Selectors */
.background h2 {
    display: inline-block;
    float: right;
    background-color:blueviolet;
    padding-right: 50px;
    font-style: normal;
    font-size: 25pt;
    text-align: right;
    margin-top: -25px
}
.topnav {
    overflow: hidden;
}

.topnav h1 {
    display: inline-block;
    float: left; 
    background-color: #0A2463;
    padding-left: 100px;
    font-style: italic;
    font-size: 300%;
    text-align: left;
    margin-top: 90px;
}

.topnav a {
    float: right;
    display: block;
    color: #f1f5f8;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.topnav a:hover {
    background-color: #1E1B18
}

.topnav a:active {
    background-color: #60179b;
}

.hero {
    height: 200px;
    width: 100%;
    background-image: url("https://github.com/VHarris113/VHarrisPortfolio/blob/main/assets/Images/banner.jpg?raw=true");
    background-size: cover;
    background-position: center;
 }

/* WIP Below */
.float-right {
    float: right;
    margin-right: 20px;

}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

.flex-container section {
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    flex-wrap: wrap;
}

.aside {
    
    padding-right: 100px;
    margin-left: 30px;
    text-align: initial;
}

.project {
    border-style: solid;
    border-width: 0px;
    border-radius: 50px;

}

.project img:hover {
    background-color: #f1f5f8;
    box-shadow: 0 0 10px #f1f5f8;

}

.project img:active {
    background-color: #60179b;
    box-shadow: 0 0 10px #60179b;
}

.project img {
    flex-grow: 4;
    flex-shrink: initial;
    border-style: double;
}

.project a img {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0px;
    
}


.p1 {
    position: inherit;
    bottom: 19px;
    right: 150px;
    padding-right: 10px;
    margin-right: -10px;
;
}

.copyright {
    text-align: center;
}

.links {
    margin-right: 20px;
    float: right;
    list-style-type: none;
    display: inherit;
    margin-left: 25px;
 } 

 .links li {
     padding: 20px;
     font-size: 20pt;
 }