/* Universal Selectors */

* {
    background-color: #00100B;
    color: #DCCDE8;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* Element Selectors */
header nav {
    padding-top: 100px;
    margin-right: 20px;
    float: right;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* CLass Selectors */
.topnav {
    overflow: hidden;
    background-image: url(https://github.com/VHarris113/VHarrisPortfolio/blob/main/assets/Resources/Images/banner.jpg);
}

.topnav h1 {
    display: inline-block;
    float: left;
    background-color: #084B5E;
    padding-left: 100px;
    font-style: italic;
    font-size: 300%;
    text-align: left;
    margin-top: 90px;
}

.topnav a {
    float: right;
    display: block;
    color: #D99AC5;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.topnav a:hover {
    background-color: #DCCDE8;
    color: #00100B
}

.topnav a:active {
    background-color: #DCCDE8;
    color: #3F2754
}
 .hero-image {
     background-image: linear-gradient(rgba (0,0,0,0.5), rgba (0,0,0,0.5)), url("C:\Users\vnh13\gt\homework\VHarrisPortfolio\assets\Resources\Images\banner.jpg");
     height: 50%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
 }